@model ProjectTimeTrackerAuth.Models.Activity

@{
    ViewData["Title"] = "Delete Activity";
    ViewData["Tab"] = "Activities";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this activity?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ActivityID" />
        <input type="hidden" asp-for="Username" />
        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityTypes.ActTypeDescrip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
