@model ProjectTimeTrackerAuth.Models.ActivityType

@{
    ViewData["Title"] = "Delete";
    ViewData["Tab"] = "Activity Types";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Activity Type?</h3>
<div>
    <h4>Activity Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ActivityTypeID" />
        <input type="hidden" asp-for="Username" />
        <dt>
            @Html.DisplayNameFor(model => model.ActTypeDescrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActTypeDescrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActTypeProd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActTypeProd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
