@{
    ViewData["Title"] = "About";
    ViewData["Tab"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>Time Tracker was created to keep track of how much time is spent on an activity.</p>
<p> The application allows users to easily create activites and categorize them.</p>
<p> Once the track button is pressed it will keep track of how much time it takes before you clock out.</p>
<p> The time log will tell you when you started and when you stopped.</p>
<p> Sheldon and Zane created this app to help them keep track of homework and 
    other activities.</p>

