@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Project Time Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Time Tracker</h2>
      
        <p>
            Time tracker allows a user to keep track of the time.
       </p>
        <h3>Team Project</h3>
        <p>
            Time Tracker is a sample application that
            demonstrates how to use MVC applications
            in a team setting.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Instructions</h2>
        <p>
            Login creating a username and password.<br />
            Create an Activity Type and an Activity for the type.<br />
            Then you can select Track it and Select your activity.<br />
            Pressing Go on Track it will record the start time. <br />
            When you press Stop it will record when you finished. <br />
            The results will be available on the Time Log page. <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/shelfos/CIT301C-ProjectTimeTrackerAuth">See project source code &raquo;</a></p>
    </div>
</div>
